@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*CSS RESET*/
html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
  }  
  img {
    max-width: 100%;
    height: auto;
  }

:root{
    /*Primary Color*/
	--red: hsl(0, 100%, 74%);
    --red-transparency: hsla(0, 100%, 50%, 0.500);
    --green: hsl(154, 59%, 51%);

    /*Accent Color*/
    --blue:hsl(248, 32%, 49%);

    /*Neutral Color*/
    --darkblue:hsl(249, 10%, 26%);
    --grayish-blue:hsl(246, 25%, 77%);

    /*Font size*/
    --bold: 700;
    --semi-bold: 600;
    --medium: 500;
    --regular: 400;

    background: linear-gradient(var(--red-transparency), var(--red-transparency)),
    url(./images/bg-intro-mobile.png);
    height: 100%;
}
body{    
    padding: 50px 20px;
}
header{
    margin: auto;
    max-width: 500px;
}
.title{
    color: white;
    font-weight: var(--semi-bold);
    text-align: center;
}
.description{
    color: white;
    font-weight: var(--medium);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1.3rem;
}
.trial-banner{
    color: white;
    max-width: 460px;
    font-weight: var(--regular);
    background-color: var(--blue);
    border-radius: 0.6rem;
    padding: 1.5rem 5rem;
    margin: 4rem auto auto auto;
    box-shadow: 0rem 0.5rem 0rem hsla(0, 0%, 0%, 0.200);
}
.trial-banner .text{
    font-weight: var(--regular);
    text-align: center;
}
.form{
    max-width: 460px;
    margin: 1.5rem auto 1rem auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 0.6rem;
    box-shadow: 0rem 0.5rem 0rem hsla(0, 0%, 0%, 0.200);
}
.form > input{
    font-family: "Poppins", sans-serif;
    font-weight: var(--semi-bold);
    padding: 1.2rem;
    margin-top: 1.3rem;
    border: 1px solid hsl(0, 0%, 75%);
    border-radius: 0.4rem;   
    z-index: 1; 
}
.form > input:focus{
    outline: 1px var(--grayish-blue) solid;
}
.form > input:focus:invalid:not(:empty){
    border: 2px solid var(--red)
}

.form > input::placeholder{
    color: hsl(0, 0%, 60%);
    font-weight: var(--semi-bold);
}
.claim{
    color: white;
    font-weight: var(--medium);
    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: var(--green);
    border: none;
    letter-spacing: 0.2rem;
    border-radius: 00.4rem;
    box-shadow: 0rem 0.2rem 0rem hsl(154, 59%, 45%);
}
.claim:hover{
    background-color: hsl(154, 59%, 45%, 0.5);
    cursor: pointer;
}
.terms{
    color: var(--grayish-blue);
    text-align: center;
    margin-top: 1.5rem;
    font-weight: var(--regular);
    font-size: 0.8rem;
}
.terms a{
    color: var(--red);
    text-decoration: none;
    font-weight: var(--bold);
}
.terms a:hover{
    color: hsla(0, 100%, 74%, 0.432)
}

.invalid-input{
    display: flex;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -2.8rem;
    font-size: 0.8rem;
    color: var(--red);
    font-weight: var(--semi-bold);
    display: none;
}
.icon-error{
    margin-bottom: 1.2rem;
    margin-right: 1.2rem;
    width: 25px;
    height: 25px;
    z-index: 10;
}

@media only screen and (min-width: 800px){
    :root{
        background: linear-gradient(var(--red-transparency), var(--red-transparency)),
    url(./images/bg-intro-desktop.png);
    padding: 50px 60px;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    main{
        display: flex;
        flex-direction: column;
        width: 600px;        
    }
    .form{
        width: 100%;
        max-width: 500px;
    }
    .trial-banner{
        width: 100%;
        max-width: 500px;
    }    
    .header{
        margin: 0px;
        width: 500px;
    }
    .title{
        display: flex;
        font-size: 3.5rem;
        line-height: 4rem;
        color: white;
        font-weight: var(--semi-bold);
        text-align: left;
    }
    .description{
        font-size: 14px;
        letter-spacing: 0.05rem;
        font-weight: var(--regular);
        text-align: left;
    }
}